@tailwind base;
@tailwind components;
@tailwind utilities;

/* Скрываем горизонтальный скроллбар (category tabs) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
